<header class="header-container">
  <img
    class="desktop-hero-banner banner-left"
    src="assets/desktop/image-hero-left.png"
    alt="photo of people"
  />
  <div class="header-content-container">
    <img class="logo" src="assets/logo.svg" alt="" />
    <div class="hero-banner">
      <img
        class="small-hero-img"
        src="assets/tablet/image-hero.png"
        alt="photo of people"
      />
    </div>
    <h1>Group Chat for Everyone</h1>
    <p>
      Meet makes it easy to connect with others face-to-face virtually and
      collaborate across any device.
    </p>
    <div class="btn-container">
      <button class="btn btn-cyan">
        Download <span class="version-color-cyan">v1.3</span>
      </button>
      <button class="btn btn-purple">What is it?</button>
    </div>
  </div>
  <img
    class="desktop-hero-banner banner-right"
    src="assets/desktop/image-hero-right.png"
    alt="photo of people"
  />
</header>
