<div class="btn btn-primary">
  <div class="btn-img-container">
    <a href="#"> Review membership options </a>
    <img
      class="btn-img-dark btn-arrow-down"
      src="assets/images/icon-arrow-down.svg"
      alt=""
    />
  </div>
</div>

<div class="btn btn-dark">
  <div class="btn-img-container">
    <a href="#"> Review membership options </a>
    <img
      class="btn-img-light btn-arrow-up"
      src="assets/images/icon-arrow-up.svg"
      alt=""
    />
  </div>
</div>

<button class="btn btn-primary">Subscribe Now</button>
