<section id="membership" class="membership-container">
  <h2 class="membership-heading">Membership options</h2>
  <div class="membership-content">
    <div class="card-container">
      <div class="card-header">
        <h3 class="card-tier">Starter</h3>
        <p><span class="price">$19</span> /month</p>
      </div>
      <div class="card-content">
        <div class="subscription-content">
          <img src="assets/images/icon-check.svg" alt="" />
          <p>1 book/month</p>
        </div>
        <div class="subscription-content">
          <img src="assets/images/icon-check.svg" alt="" />
          <p>Online forums</p>
        </div>
      </div>
      <button class="btn btn-primary">Subscribe Now</button>
    </div>
    <div class="card-container popular">
      <div class="card-header">
        <h3 class="card-tier">Pro</h3>
        <p><span class="price">$29</span> /month</p>
      </div>
      <div class="card-content">
        <div class="subscription-content">
          <img src="assets/images/icon-check.svg" alt="" />
          <p>2 books/month</p>
        </div>
        <div class="subscription-content">
          <img src="assets/images/icon-check.svg" alt="" />
          <p>Virtual meetups</p>
        </div>
      </div>
      <button class="btn btn-primary">Subscribe Now</button>
    </div>
    <div class="card-container">
      <div class="card-header">
        <h3 class="card-tier">Enterprise</h3>
        <p><span class="price">Custom </span></p>
      </div>
      <div class="card-content">
        <div class="subscription-content">
          <img src="assets/images/icon-check.svg" alt="" />
          <p>Team access</p>
        </div>
        <div class="subscription-content">
          <img src="assets/images/icon-check.svg" alt="" />
          <p>Private sessions</p>
        </div>
      </div>
      <button class="btn btn-primary">Talk to us</button>
    </div>
  </div>
</section>
