<section class="feature-container">
  <div class="feature-content-container">
    <h2 class="feature-heading">Read together, <br />grow together</h2>
    <div class="feature-content">
      <img src="assets/images/icon-check.svg" alt="" />
      <p>Monthly curated tech reads selected by industry experts</p>
    </div>
    <div class="feature-content">
      <img src="assets/images/icon-check.svg" alt="" />
      <p>Virtual and in-person meetups for deep-dive discussions</p>
    </div>
    <div class="feature-content">
      <img src="assets/images/icon-check.svg" alt="" />
      <p>Early access to new tech book releases</p>
    </div>
    <div class="feature-content">
      <img src="assets/images/icon-check.svg" alt="" />
      <p>Author Q&A sessions with tech thought leaders</p>
    </div>
  </div>
  <picture class="feature-img content-image">
    <source
      media="(min-width: 1024px)"
      srcset="assets/images/image-read-together-desktop.webp"
    />
    <source
      media="(min-width: 768px)"
      srcset="assets/images/image-read-together-tablet.webp"
    />
    <img src="assets/images/image-read-together-mobile.webp" />
  </picture>
</section>
<section class="feature-container">
  <div class="feature-content-container feature-text-content">
    <h2 class="feature-heading heading-small">
      Not your average book <span class="circle">club</span>
    </h2>
    <p>
      Connect with a community that speaks your language - from
      <strong>Python</strong> to <strong>TypeScript</strong> and everything in
      between. Our discussions blend technical depth with practical
      applications.
    </p>
  </div>
  <div class="img-container">
    <picture class="feature-img content-image img-reverse">
      <source
        media="(min-width: 1024px)"
        srcset="assets/images/image-not-average-desktop.webp"
      />
      <source
        media="(min-width: 768px)"
        srcset="assets/images/image-not-average-tablet.webp"
      />
      <img src="assets/images/image-not-average-mobile.webp" />
    </picture>
    <img class="tech-logo" src="assets/images/logos-tech.svg" alt="" />
  </div>
</section>
