<section class="journey-container">
  <h2 class="journey-heading">Your tech reading journey</h2>
  <div class="journey-process">
    <div>
      <div class="arrow-process">
        <div class="number-box">1</div>
        <img src="assets/images/pattern-arrow.svg" alt="" />
      </div>
      <p class="journey-text">Choose your membership tier</p>
    </div>
    <div>
      <div class="arrow-process">
        <div class="number-box">2</div>
        <img src="assets/images/pattern-arrow.svg" alt="" />
      </div>
      <p class="journey-text">Get your monthly book selection</p>
    </div>
    <div>
      <div class="arrow-process">
        <div class="number-box">3</div>
        <img src="assets/images/pattern-arrow.svg" alt="" />
      </div>
      <p class="journey-text">Join our discussion forums</p>
    </div>
    <div>
      <div class="number-box">4</div>
      <p class="journey-text">Attend exclusive meetups</p>
    </div>
  </div>
</section>
