<section class="testimonial-container">
  <div class="stars">
    <img src="assets/images/icon-star.svg" alt="" />
    <img src="assets/images/icon-star.svg" alt="" />
    <img src="assets/images/icon-star.svg" alt="" />
    <img src="assets/images/icon-star.svg" alt="" />
    <img src="assets/images/icon-star.svg" alt="" />
  </div>
  <p class="testimonial-content">
    "This book club transformed my technical reading from a solitary activity
    into an enriching community experience. The discussions are gold!"
  </p>
  Sarah Chen, Software Architect
  <p class="testimonial-author"></p>
</section>
