@use "sass:map";

*, ::before, ::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

$colors: (
    "background": hsl(47, 88%, 63%),
    "card-bg": hsl(0, 0%, 100%),
    "text": hsl(0, 0%, 7%),
    'grey': hsl(0, 0%, 42%)
);
$border-radius: 10px;
$font-size: 0.8rem;

@mixin centerComponent {
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    background-color: map.get($colors, "background");
    @include centerComponent;
    height: 100vh;
}

.container {
    background-color: map.get($colors, "card-bg");
    border: 1px solid black;
    border-radius: $border-radius * 2;
    box-shadow: 5px 5px black;
    font-family: 'Figtree', Arial, Helvetica, sans-serif;
    max-width: 370px;
}

.blog-card {
    padding: 1.5rem;
}

.header-img {
    border-radius: $border-radius;
    width: 100%;
    height: 100%;
}

.tag {
    background-color: map.get($colors, 'background');
    border-radius: $border-radius;
    font-size: $font-size;
    font-weight: 800;
    padding: 5px 10px;
    width: fit-content;
}

.published-date {
    color: map.get($colors, 'text');
    font-size:$font-size;
    font-weight: 500;
    margin-bottom: 15px;
}

.blog-title {
    color: map.get($colors, 'text');
    font-size: $font-size * 1.7;
    font-weight: 800;
    text-decoration: none;
    &:hover {
        color: map.get($colors, 'background');
        cursor: pointer;
    }
}

.blog-desc {
    color: hsl(0, 0%, 42%);
    font-size: $font-size * 1.1;
}

.user {
    display: flex;
    align-items: center;
    p {
        font-weight: 900;
        font-size: $font-size;
        margin-left: 10px;
        text-align: center;
        word-spacing: 1px;
    }
}

#avatar {
    height: 30px;
    width: 30px;
}