<footer class="footer-container">
  <img class="footer-logo" src="assets/logo-light.svg" alt="Gallery Logo" />
  <p class="footer-text">
    The The Modern Art Gallery is free to all visitors and open seven days a
    week from 8am to 9pm. Find us at 99 King Street, Newport, USA.
  </p>
  <div class="social-links">
    <a href="https://www.facebook.com/frontendmentor/" target="_blank">
      <img src="assets/icon-facebook.svg" alt="facebook" />
    </a>
    <a href="https://www.instagram.com/legendx_yt/?hl=en" target="_blank">
      <img src="assets/icon-instagram.svg" alt="Instagram" />
    </a>
    <a href="https://x.com/LegendXBS" target="_blank">
      <img src="assets/icon-twitter.svg" alt="Twitter" />
    </a>
  </div>
</footer>
